#canvas1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    border: 2px solid black;
    background: linear-gradient(rgb(0, 119, 255), skyblue);
}

#piggy {
    background-image: url("https://cdn.discordapp.com/attachments/959304393323327549/961882133037727804/piggy.png");
}

#piggy:hover {
    background-image: url("https://cdn.discordapp.com/attachments/959304393323327549/961881778073763870/piggyfly.png");
}

#play-btn {
    background-color: pink;
    border-radius: 100px;
    color: black;
    padding: 10px;
    position: absolute;
    left:60%;
    top: 85vh;
    font-family: monospace;
    display: none;
}

body {
    background-color: black;
}